<!-- Footer -->
<footer class="bg-dark text-white py-2 mt-auto">
  <div class="container text-center">
    <div class="row justify-content-center">
      <div class="col-md-4 mb-2">
        <h6>Informações de Contato</h6>
        <p class="small">Email: janioofi&#64;gmail.com</p>
        <p class="small">Telefone: +55 (11) 91003-9540</p>
      </div>
      <div class="col-md-4 mb-2">
        <h6>Redes Sociais</h6>
        <a href="https://linkedin.com/in/janioofi" target="_blank" class="text-white me-3 small">
          <i class="bi bi-linkedin"></i>
        </a>
        <a href="https://github.com/janioofi" target="_blank" class="text-white me-3 small">
          <i class="bi bi-github"></i>
        </a>
        <a href="https://instagram.com/janioofi" target="_blank" class="text-white small">
          <i class="bi bi-instagram"></i>
        </a>
      </div>
    </div>
    <div class="text-center mt-2">
      <p class="small">&copy; {{ currentYear }} Janio. Todos os direitos reservados.</p>
    </div>
  </div>
</footer>
