.total-amount {
  font-size: 1.5rem; /* Ajuste o tamanho da fonte conforme necessário */
  font-weight: bold;
  margin: 1rem 0; /* Ajuste as margens conforme necessário */
  padding: 0.5rem;
  border: 1px solid #ddd; /* Adiciona uma borda para destacar o campo */
  border-radius: 4px; /* Bordas arredondadas */
  max-width: 100%; /* Limita a largura máxima ao contêiner pai */
  white-space: nowrap; /* Impede a quebra de linha */
  text-align: right; /* Alinha o texto à direita */
}

.card {
  margin-bottom: 1rem;
  max-width: 100%;
  width: 100%;
}

.add-payment-card {
  cursor: pointer;
  border: 2px dashed #007bff; /* Estilo de borda para o card de adicionar */
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.add-payment-card .card-body {
  padding: 2rem;
}

.add-payment-card i {
  font-size: 2rem;
  color: #007bff; /* Cor do ícone */
}

@media (min-width: 576px) {
  .card {
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .card {
    max-width: 95%;
  }
}

@media (min-width: 992px) {
  .card {
    max-width: 90%;
  }
}
