.total-amount {
  font-size: 1.5rem; /* Ajuste o tamanho da fonte conforme necessário */
  font-weight: bold;
  margin: 1rem 0; /* Ajuste as margens conforme necessário */
  padding: 0.5rem;
  border: 1px solid #ddd; /* Adiciona uma borda para destacar o campo */
  border-radius: 4px; /* Bordas arredondadas */
  max-width: 100%; /* Limita a largura máxima ao contêiner pai */
  white-space: nowrap; /* Impede a quebra de linha */
  text-align: right; /* Alinha o texto à direita */
}

.total-amount {
  text-align: right; /* Alinha o texto à direita */
}

.card {
  margin-bottom: 1rem;
  max-width: 100%;
  width: 100%;
}

.add-payment-card {
  border: 2px dashed #28a745; /* Cor da borda do card */
  background-color: #f9f9f9; /* Cor de fundo do card */
}

.add-payment-card .card-body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.add-payment-card .btn-success {
  font-size: 1.25rem;
  padding: 0.75rem 1.5rem;
}

.bi-plus-circle {
  font-size: 1.5rem; /* Tamanho do ícone */
  margin-right: 0.5rem; /* Espaço entre ícone e texto */
}

@media (min-width: 576px) {
  .card {
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .card {
    max-width: 95%;
  }
}

@media (min-width: 992px) {
  .card {
    max-width: 90%;
  }
}
