<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">
            <div class="mb-md-5 mt-md-4">
              <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
              <p class="text-white-50 mb-5">Por favor, entre com seu e-mail e senha!</p>

              <div data-mdb-input-init class="form-outline form-white mb-4">
                <input [formControl]="email" required="" [(ngModel)]="login.email" type="email" id="email"
                  class="form-control form-control-lg" />
                <label class="form-label" for="email">Email</label>
              </div>

              <div data-mdb-input-init class="form-outline form-white mb-4">
                <input [formControl]="password" required [(ngModel)]="login.password" type="password" id="password"
                  class="form-control form-control-lg" />
                <label class="form-label" for="password">Senha</label>
              </div>

              <div class="buttons">
                <button data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-light btn-lg"
                  [disabled]="!validaCampos()" (click)="logar()" type="submit">Logar</button>

                <button data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-light btn-lg"
                  [disabled]="!validaCampos()" (click)="registrar()" type="submit">Registrar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
