<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <div class="mb-md-5 mt-md-4 pb-5">

              <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
              <p class="text-white-50 mb-5">Por favor, entre com seu usuário e senha</p>

              <div data-mdb-input-init class="form-outline form-white mb-4">
                <input type="text" id="username" class="form-control form-control-lg" [formControl]="username" />
                <label class="form-label" for="username">Usuário</label>
              </div>

              <div data-mdb-input-init class="form-outline form-white mb-4">
                <input type="password" id="password" class="form-control form-control-lg" [formControl]="password" />
                <label class="form-label" for="password">Senha</label>
              </div>

              <button data-mdb-button-init data-mdb-ripple-init [disabled]="!validaCampos()" class="btn btn-outline-light btn-lg px-5" (click)="logar()" type="button">Login</button>
            </div>

            <div>
              <p class="mb-0 register">Não tem uma conta? <a (click)="openRegisterModal()" class="text-white-50 fw-bold"><p>Inscrever-se</p></a>
              </p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
