.sidenav-container {
  height: 100vh;
}

mat-sidenav {
  width: 10rem;
  background-color: #262a41;
}

p{
  display: flex;
  color: white;
  align-items: center;
  text-align: center;
  margin: 0;
}

button mat-icon {
  color: white;
}

button {
  z-index: 1000;
  background-color: #262a418f;
  border: none; /* Remove qualquer borda padrão */
  margin: 1rem;
  border-radius: 50%; /* Opcional: arredonda as bordas do botão */
  position: fixed;
}

button:hover {
  background-color: rgba(38, 42, 65, 0.1); /* Opção de cor ao passar o mouse */
}

