<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" [opened]="isSidenavOpened">
    <mat-nav-list>
      <a mat-list-item routerLink="/dashboard">
        <p><i class="bi bi-house-door"></i> Dashboard</p>
      </a>
      <a mat-list-item routerLink="/usuario">
        <p><i class="bi bi-person"></i> Usuário</p>
      </a>
      <a mat-list-item (click)="logout()">
        <p><i class="bi bi-box-arrow-right"></i> Logout</p>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <button mat-icon-button (click)="toggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
