.sidenav-container {
  height: 100vh;
  display: flex;
}

mat-sidenav {
  width: 12rem; /* Largura fixa do sidenav */
  min-width: 12rem; /* Garante que o sidenav não encolherá */
  background-color: #262a41;
  flex-shrink: 0; /* Evita que o sidenav se contraia */
}

mat-sidenav-content {
  flex-grow: 1; /* O conteúdo crescerá para ocupar o espaço restante */
  padding: 2rem;
}

mat-nav-list a {
  display: flex;
  align-items: center;
  padding: 1rem;
  color: white;
  font-size: 1.1rem;
  text-decoration: none;
}

mat-nav-list a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

p {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

p i {
  margin-right: 0.6rem;
}

button mat-icon {
  color: white;
}

button {
  z-index: 1000;
  background-color: #262a418f;
  border: none;
  margin: 1rem;
  border-radius: 50%;
  position: fixed;
}

button:hover {
  background-color: rgba(38, 42, 65, 0.1);
}
