/* You can add global styles to this file, and also import other style files */
@import '../node_modules/ngx-toastr/toastr.css';
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  font-family: Plus Jakarta Sans, sans-serif;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


/* styles.css ou no CSS do componente onde o diálogo é usado */
.custom-dialog-container .mat-dialog-container {
  padding: 1rem; /* Espaçamento interno do conteúdo do diálogo */
  max-width: 90vw; /* Largura máxima do diálogo */
  max-height: 90vh; /* Altura máxima do diálogo */
  overflow: auto; /* Permite rolagem se necessário */
}

.custom-dialog-container .mat-dialog-content {
  display: flex;
  flex-direction: column;
  gap: 1rem; /* Espaçamento entre os campos do formulário */
}

.custom-dialog-container .mat-dialog-actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem; /* Espaçamento entre os botões */
}
